@import 'about.css';
@import 'blogpost.css';
@import 'headerCss.css';

 h2, h3{
	font-family: 'Shadows Into Light', cursive;
	-webkit-text-stroke: .1px red;
	color: white;
	text-align: center;
}

h2{
	text-decoration: underline;
	text-decoration-color: black;
	font-size: 44px;
}

h3{
	font-size: 34px;
	letter-spacing: 5px;
}

#navbar{
	background-color: black;
	height: 30px;
	border: solid 1px red;
	display: flex;
	justify-content: center;
	align-items: center;
}

 nav a{
	text-decoration: none;
	margin-right: 20px;
	color: red;
	font-size: 24px;
}

blockquote{
	font-size: 24px;
}

.subscribe{
	display: flex;
	justify-content: center;
	margin-top: 30px;
	height: 40px;
}

.card{
	background-color: black;
	border: solid 1px red;
	margin-bottom: 5px;
	padding: 0px 15px 0px 15px;
}

p{
	color: white;
	font-size: 20px;
}

.aLink{
	color: red;
	text-decoration: none;
}

#footLogos{
	background-color: red;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.socials{
	margin-right: 15px;
}

.picCard{
	float: left;
	height: 150px;
	width: 150px;
	margin-right: 10px;
}

figcaption{
	color: white;
	text-align: left;
}

/* ----- Large Screen Media Query ----- */

@media only screen and (min-width: 600px){

	.container{
	display: grid;
	grid-template-columns: 300px 300px 300px 250px;
	grid-template-rows: 200px 20px 400px 200px 90px;
}

h3{
	margin: -5px;
}

#navbar{
	grid-area: 2/1/2/6;
}

a:hover{
	color: dodgerblue;
}

.card{
	grid-area: 3/3/3/5;
}

#main{
	grid-area: 3/2/4/5;
}

#move{
	display: block;
	grid-area: 3/1/3/1;
}

#footLogos{
	grid-area: foot;
}

hr{
	display:none;
}

footer{
	grid-area: 6/1/6/6;
	border: solid 5px black;
}
}

